<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UptimeHUB |{% block title %}{% endblock %}</title>

    <!-- TailwindCSS -->
    <script src="{% static 'js/tailwindcss.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/axios.min.js' %}"></script>

    <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                    borderRadius: { 'xl': '1rem', '2xl': '1.5rem', '3xl': '2rem' },
                    fontFamily: { 'sans': ['Vazir', 'Inter', 'system-ui'] },
                }
            }
        }
    </script>


</head>
<body class="bg-gray-50 dark:bg-gray-900 transition-colors duration-200">

{% block content %}{% endblock %} 
{% block js %}{% endblock %} 
</body>
</html>